@keyframes profile-picture-reveal {
  0% {
    opacity: 0;
    transform: translateY(-100vh);
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes arrow-reveal {
  0% {
    opacity: 0;
    transform: translateY(-15vh);
    visibility: visible;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
    visibility: visible;
  }
}

@keyframes arrow-pulse {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.4, 1.4);
  }
  60% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes simo-reveal {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes iliev-reveal {
  0% {
    opacity: 0;
    transform: translateX(100vw);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.simo-anim {
  opacity: 0;
  display: inline-block;
  animation: simo-reveal 2.1s;
  animation-delay: 2.4s;
  animation-timing-function: cubic-bezier(.24,.76,.36,1);
  animation-fill-mode: forwards;
}

.iliev-anim {
  opacity: 0;
  display: inline-block;
  animation: iliev-reveal 2.1s;
  animation-delay: 2.4s;
  animation-timing-function: cubic-bezier(.24,.76,.36,1);
  animation-fill-mode: forwards;
}

.arrow-anim {
  opacity: 0;
  visibility: hidden;
  animation: arrow-reveal 0.5s, arrow-pulse 2s;
  animation-delay: 5.3s, 5.8s;
  animation-timing-function: ease-in, linear;
  animation-fill-mode: forwards, none;
  animation-iteration-count: 1, infinite;
}

.pulse {
  animation: arrow-pulse 2s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
}

.profile-picture-anim  {
  opacity: 0;
  display: block;
  animation: profile-picture-reveal 2.4s;
  animation-delay: 0.1s;
  animation-timing-function: cubic-bezier(.46,-0.44,.57,1.59);
  animation-fill-mode: forwards;
}
